<h1>Current pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure you want to destroy this pin?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path, class: "btn btn-success" %>
